<template name="login">
    
    <div class="center">
        <div id="darkbox">
            <h1 id="loginTitle">Berg</h1>
            
            <br>
            <h4 id="quote">Never sit alone again</h4>
            <br>
            
            <p id="count">{{studentCount}}</p>
            
            <br>
            
            <h2 id="join">Join them:</h2>
            
            <div class="loginButtons">
                {{> loginButtons}}
            </div>
            
        </div>
    </div>
    
</template>